/* header.module.css */

/* فئة CSS Module صحيحة */
.navLink {
  padding: 20px 30px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.navLink::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: rgba(185, 122, 26, 0.9);
  bottom: -10px;
  left: 0;
  transition: 0.3s;
}

.navLink:hover::before,
.navLink.active::before {
  width: 100%;
}

.headerContainer {
  background-color: rgb(242, 242, 242);
}

@media (min-width: 1020px) {
  .menu {
    display: none;
  }
}
@media (max-width:1020px) {
    .logo{
    display: none;
  }
  .navbar{
    position: absolute;
    top:56px;
    left:0;
    right: 0;
    width: 100%;
    background-color: rgb(242, 242, 242);

    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.1s;
    z-index: 100;
  }
  .navLink{
    display: block;
    transition: 0.3s;
    z-index: 100;
  }
  .navLink:hover{
    padding-left: 40px;
  }
  .navLink::before {
  content: "";
  bottom: -3px;
}
  .navbarLinks{
    display: flex;
    flex-direction: column;
  }
}